/* GLOBAL STYLING */
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #fff8dc;
    text-align: center;
    font-family: Optima, serif;
    font-size: 100%;
}

code {
    font-family: Times, monospace; 
}

/* SECTION STYLING */
#header {
    width: 100%;
    background-color: #2e8b57;
}

#banner {
    width: 100%;
}

#banner > h1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-family: Times, serif;
    font-size: 2.5em;
    color: #fff8dc;
}

#container {
    margin: 0 auto;
    width: 100%;
}

#content {
    margin: 0 auto;
    max-width: 960px;
}

#individual_images {
    padding-top: 1em;
    font-size: 120%;
    color: #2e8b57;
}

#description {
    margin-right: 1em;
    margin-left: 1em;
    text-align: left;
    color: #2e8b57;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    #banner {
        margin-right: 0.6em;
    }
    
    #banner > h1 {
        font-size: 2em;
    }
    
    #individual_images {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #banner {
        margin-right: 0.3em;
    }
    
    #banner > h1 {
        font-size: 2.2em;
    }
    
    #individual_images {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) { 
    #individual_images > img {
        min-width: 200px;
        max-width: 250px;
    }
}

@media screen and (min-width: 1201px) {
    #individual_images > img {
        min-width: 250px;
        max-width: 300px;
    }
}